[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
recipe-scrapers = "*"
pyyaml = "*"
platformdirs = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.12"
